.checkout-info{
	margin: 0 auto;
	max-width: 1024px;
	width: 80%;
	position: relative;
	overflow: auto;
}

.nav-section-checkout{
	border-bottom: 1px solid #ededed;
	font-family: 'Lato-Bold';
	font-size: 1.2em;
	margin-top: 10px;
	padding-bottom: 10px;
	display: block;
}

.table-products{
	width: 100%;
	min-width: 720px;
	margin: 10px 0;
	overflow: auto;
}

.table-products .header-table{
	width: 100%;
	color: #FFF;
	background: #ee2631;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	align-content: center;
	align-items: center;
	padding: 10px 0;
	min-width: 720px;
	border-radius: .25em;
}

.header-table div{
	text-transform: uppercase;
	font-size: .8em;
	font-family: 'Lato-Black';
	text-align: center;
}

.checkoutToPay a{
	color: #FFF;
	text-decoration: none;
}

.header-table div:nth-child(1),
.header-table div:nth-child(2),
.header-table div:nth-child(4),
.header-table div:nth-child(5),
.header-table div:nth-child(6),
.header-table div:nth-child(7),
.items-product div:nth-child(1),
.items-product div:nth-child(2),
.items-product div:nth-child(4),
.items-product div:nth-child(5),
.items-product div:nth-child(6),
.items-product div:nth-child(7){
	width: 10%;
}

.items-product{
	padding: 15px 0px !important;
}

.header-table div:nth-child(3),
.items-product div:nth-child(3){
	width: 35%;
	margin-left: 2.5%;
	margin-right: 2.5%;
	text-align: left;
}

.items-products {
	width: 100%;
	min-width: 720px;
}

.table-products .items-product{
	width: 100%;
	color: #2e2e2e;
	background: #FFF;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	align-content: center;
	align-items: flex-start;
	border-bottom: 2px solid #ebebeb;
	padding: 10px 0;
}

.items-product div{
	text-transform: uppercase;
	font-size: .8em;
	font-family: 'Lato-Black';
	text-align: center;
}

.items-product .photo-item img{
	width: 60%;
	margin-left: 10%;
}

.product-item p{
	display: block;
	width: 90%;
	text-transform: none;
	margin: 0;
	padding: 0;
	text-align: justify;
}

.count-item{
	text-align: center;
}

.count-item input{
	display: inline-block;
	margin: 0 auto;
	border: 2px solid #2e2e2e;
	padding: 8px 10px;
	width: 65px;
	text-align: center;
	outline: none;
}

.actions-item span{
	display: inline-block;
	margin: 0 auto;
	text-align: center;
	padding: 0px 8px;
}

.actions-item span img{
	width: 15px;
}

.sub-table-items{
	float: right;
	width: 30%;
	min-width: 320px;
	font-family: 'Lato-Black';
	font-size: .9em;
	display: block;
	margin-top: 20px;
	margin-bottom: 20px;
}

.sub-table-items div .title-header-checkout{
	color: #FFF;
	background: #ee2631;
	padding: 8px 0;
	cursor: pointer;
}

.title-header-checkout span{
	display: block;
	width: 95%;
	margin: 0 auto;
}

.coupon-insert{
	margin-bottom: 5px;
}
.coupon-insert, .checkout-total{
	border-right: 1px solid #ee2631;
	border-left: 1px solid #ee2631;
	border-bottom: 1px solid #ee2631;
}

.sub-table-items form button{
	width: 50%;
	margin: 0 auto;
	border: none;
	background: #0088cc;
	border-radius: 10px;
    padding: .5em .5em;
    color: #FFF;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: 10px auto;
    font-size: .8em;
}

.sub-table-items form button img{
	height: 15px;
	width: auto;
	margin: 0 5px;
}

.sub-table-items form button span{
	display: inline-block;
	width: 60%;
}

.sub-table-items a{
	width: 50%;
	margin: 0 auto;
	border: none;
	background: #0088cc;
	border-radius: 10px;
    padding: .5em .5em;
    color: #FFF;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: 10px auto;
    font-size: .8em;
}

.sub-table-items a img{
	height: 15px;
	width: auto;
	margin: 0 5px;
}

.sub-table-items a span{
	display: inline-block;
	width: 60%;
}



.apply-coupon form input{
	width: 80%;
	display: block;
	margin: 10px auto 0 auto;
	border: none;
	padding: 5px 10px;
	color: #000;
	outline: none;
	border: 2px solid #000;
}

.cont-info-checkout > div{
	width: 80%;
	display: block;
	margin: 0 auto;
	font-size: 1em;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	align-content: center;
	font-family: 'Lato-Black';
}

.cont-info-checkout > div:nth-child(1){
	margin-top: 10px;
}

.cont-info-checkout > div span{
	display: inline-block;
}

.cont-info-checkout > div span:nth-child(1){
	width: 20%;
	text-align: left;
}

.cont-info-checkout > div span:nth-child(2){
	width: 80%;
	text-align: right;
}

.product-interest{
	background: none !important;
	margin-bottom: 20px !important;
}

@media(max-width: 920px){
	.sub-table-items{
		float: left;
		width: 30%;
		min-width: 320px;
	}
}

@media(max-width: 420px){
	.sub-table-items{
		float: left;
		width: 30%;
		min-width: 280px;
	}
}
#contact-header{
	width: 100%;
	display: block;
	background: #f4f4f4;
	color: #7d7d7d;
	font-size: 1em;
	font-family: 'Lato-Light';
}

#contact-form{
	width: 100%;
	display: block;
	background: #FFF;
	color: #000;
	font-size: 1.1em;
	font-family: 'Lato-Light';
}

.container-contact-info, .container-form{
	max-width: 1024px;
	width: 90%;
	padding: 2em 0;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	align-content: center;
	align-items: center;
}

.infor-contact, .image-contact{
	width: 50%;
}

.image-contact img{
	width: 100%;
	display: block;
}

.infor-contact h2, .infor-contact p{
	margin: .5em 0;
	padding: 0;
}

.infor-contact h2{
	font-size: 1.4em;
}

.infor-contact p{
	font-size: 1.2em;
}

.form-container-contact{
	width: 100%;
}

.form-container-contact form{
	width: 70%;
}

.border-container-form{
	border: 1px solid #e7e7e7;
	padding: 1em 1.5em;
}

.form-container-contact label{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
	align-content: center;
	text-align: left;
}

.form-container-contact label > span{
	display: block;
	width: 20%;
}

.form-container-contact label > div, .form-container-contact label > div{
	width: 70%;
}

.required{
	color: red;
	font-size: .8em;
}

.form-label-short{
	width: 70%;
	display: block;
}

.form-label-large{
	width: 70%;
	display: block;
}

.form-container-contact label > div{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	align-content: center;
	align-items: center;
	border: 1px solid #e7e7e7;
	margin-bottom: 1em;
}

.form-container-contact label input{
	width: 80%;
	border: none;
	padding: .5em .5em;
	box-sizing: border-box;
	outline: none;
}

.form-container-contact label i{
	display: inline-block;
	width: 5%;
	padding: .5em .5em;
	background: red;
	border-left: 1px solid #e7e7e7;
}

.form-container-contact label textarea{
	width: 100%;
	border: none;
	padding: .5em .5em;
	box-sizing: border-box;
	outline: none;
}

.checkboxItem{
	border: none !important;
	justify-content: flex-start !important;
	font-size: .8em;
}

.checkboxItem input{
	width: auto !important;
	margin-right: 1em;
}

.sendForm{
	border: none;
	outline: none;
	background: #c10f13;
	color: #FFF;
	padding: 1em 2em;
	font-size: .8em;
	margin-top: 2em;
}

#content-map{
	width: 100%;
}

#content-map #map{
	width: 100%;
	height: 50vh;
}

@media(max-width: 1280px){

	#contact-header, #contact-form{
		font-size: .9em;
	}

}

@media(max-width: 920px){

	#contact-header{
		font-size: .8em;
	}

	.infor-contact, .image-contact{
		width: 70%;
		margin: 1em 0;
	}

	.form-container-contact form{
		width: 100%;
	}

	.form-label-short{
		width: 100%;
		display: block;
	}

	.form-label-large{
		width: 100%;
		display: block;
	}


}

@media(max-width: 620px){

	.form-container-contact label > span{
		display: block;
		width: 100%;
	}

	.form-container-contact label > div, .form-container-contact label > div{
		width: 100%;
	}

	#contact-header{
		font-size: .7em;
	}

	.infor-contact, .image-contact{
		width: 90%;
	}

}


.productDetails{
	width: 80%;
	max-width: 1024px;
	padding: 2em 0;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
	align-content: center;
}

.productDetails .productDtls{
	width: 70%;
}

.productDtls h2{
	margin: 0;
	padding: 0;
	font-family: 'Lato-Black';
	color: #000;
	text-transform: uppercase;
	font-size: 1.5em;
	margin-bottom: .5em;
}

.productDtls .productDesc{
	width: 90%;
	font-family: 'Lato-Light';
	font-size: 1em;
	padding-bottom: 1em;
	border-bottom: 2px solid #e8e8e8;
}

.productDtls .galleryProduct{
	margin: 1em 0;
	width: 75%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	align-content: center;
	align-items: center;
}

.galleryProduct .thumbs{
	width: 15%;
}

.galleryProduct .imageLarge{
	width: 85%;
}

.galleryProduct .imageLarge img{
	max-width: 100%;
	margin: 0 auto;
}

.galleryProduct .thumbs ul, .galleryProduct .thumbs ul li, .galleryProduct .thumbs ul li img{
	width: 100%;
}

.galleryProduct .thumbs ul li{
	border: 2px solid #e8e8e8;
}

.productDesc span{
	margin-right: 1em;
	display: inline-block;
}

.productDetails .addtocart{
	width: 30%;
}

.descDetails{
	width: 90%;
}

.descDetails .navDetails{
	width: 100%;
	padding: 1.5em 0;
	border-bottom: 2px solid #e8e8e8;
	border-top: 2px solid #e8e8e8;
	margin-bottom: 1.5em;
}

.navDetails span{
	display: inline-block;
	font-family: 'Lato-Light';
	font-size: 1.2em;
	color: #2e2e2e;
	margin-right: 2em;
}

.navDetails span.selected{
	color: #263579;
	font-family: 'Lato-Black';
}

.navDetails span:not(selected){
	transition: .5s;
	transform: scale(1);
	cursor: pointer;
}

.navDetails span:not(.selected):hover{
	transform: scale(.9);
	color: #263579;
}

.complete-info{
	width: 100%;
	font-family: 'Lato-Light';
	font-size: 1em;
	color: #4a4a4a;
}

.complete-info span{
	font-family: 'Lato-Bold';
}

.complete-info br{
	margin-bottom: 1em;
}

.complete-info div{
	display: none;
}

.complete-info div.selected{
	display: block !important;
}

.thumbs li.selected{
	opacity: .5;
}

.addtocart .add, .addtocart .add form{
	width: 100%;
}

.addtocart .add{
	background: #FFF;
	padding: 0em 0;
}



.addtocart .add form button{
	width: 100%;
	border: 1px solid #fff200;
	background: #fff200;
	color: #16276f;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	align-content: center;
	align-items: center;
	font-size: 1em;
	padding: 1em 0;
	font-family: 'Lato-Light';
	border-radius: .5em;
}

.addtocart .add a{
	text-decoration: none;
	width: 100%;
	border: 1px solid #fff200;
	background: #fff200;
	color: #16276f;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	align-content: center;
	align-items: center;
	font-size: 1em;
	padding: 1em 0;
	font-family: 'Lato-Light';
	border-radius: .5em;
}

.addtocart .priceProduct{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	align-content: center;
	align-items: center;
	margin: 1em 0;
	padding: 1em 0;
}

.priceProduct span:nth-child(1){
	display: block;
	width: 50%;
	font-size: 1.5em;
	color: #003b64;
	font-family: 'Lato-Bold';
}

.priceProduct span:nth-child(2){
	display: block;
	width: 40%;
	font-size: .5em;
	font-family: 'Lato-Black';
	color: #003b64;
}




@media(max-width: 1024px){


	.galleryProduct .thumbs{
		width: 100%;
	}

	.galleryProduct .imageLarge{
		width: 100%;
	}

	.galleryProduct .thumbs ul{
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: center;
		align-content: center;
		align-items: center;
		margin-bottom: .5em;
	}

	.galleryProduct .thumbs ul li{
		width: 60px;
		margin: 0 .5em;
	}

}

@media(max-width: 920px){

	.productDetails{
		position: relative;
	}

	.productDetails .productDtls{
		width: 80%;
		margin-right: 20%;
	}

	.productDetails .addtocart{
		position: fixed;
		top: 50%;
		right: 1em;
		z-index: 10;
		width: 30%;
	}

}

@media(max-width: 740px){

	.productDetails .productDtls{
		width: 100%;
		margin-right: 0%;
	}

	.productDetails .addtocart{
		width: 35%;
	}

	.galleryProduct .thumbs ul li{
		width: 60px;
		margin: 0 .5em;
	}

	.productDtls .productDesc, .productDtls .galleryProduct, .productDtls .galleryProduct{
		width: 100%;
	}

}

@media(max-width: 640px){
	.productDetails .addtocart{
		width: 60%;
		top: 0;
		left: 0;
		position: relative;
		margin-bottom: 2em;
	}

	.productDetails{
		display: flex;
		flex-wrap: wrap-reverse;
		flex-direction: row;
		justify-content: center;
		align-items: flex-start;
		align-content: center;
	}


}

@media(max-width: 480px){
	.productDetails .addtocart{
		width: 80%;
		top: 0;
		left: 0;
		position: relative;
		margin-bottom: 2em;
	}

	.galleryProduct .thumbs ul li{
		width: 40px;
		margin: 0 .5em;
	}
}
footer{
	width: 100%;
	background: #000000;
	color: #FFF;
	font-family: 'Lato-Light';
	font-size: .9em;
	text-align: center;
}

.footer-container a{
	color: #FFF;
	text-decoration: underline;
}

.footer-container{
	width: 90%;
	max-width: 1240px;
	padding: 2em 0 !important;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
	margin: 0 auto !important;
}

footer div{
	margin: 0 2em;
	width: 15%;
	max-width: 360px;
	display: inline-block;
	text-align: left;
}

footer span{
	display: block;
	font-family: 'Lato-Bold';
	margin-bottom: 1em;
}

footer ul, footer li{
	display: block;
	margin-bottom: .5em;
}


@media(max-width: 940px){
	footer div{
		margin: 0 2em;
		width: 33%;
		max-width: 180px;
	}
}

@media(max-width: 820px){
	footer div{
		margin: 2em 2em;
		width: 80%;
		max-width: 320px;
		text-align: center;
	}
}
header{
	position: relative;
	width: 100%;
	background: #2e2e2e;
}

.cartMessage{
	position: fixed;
	top: 1em;
	right: 1em;
	font-size: .9em;
	z-index: 9999999;
	font-family: 'Lato-Light';
}

.msgCartItem{
	width: 8em;
	padding: .5em;
	background: #FFF;
	margin-bottom: .5em;
	color: #2e2e2e;
}

.header-container{
	margin: 0 auto;
	max-width: 1024px;
	width: 80%;
	padding: 2em 0;
}

.header-container{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	align-content: center;
}

.header-container .logo{
}

.header-details{
}

.header-details .account{
	text-align: right;
}

.account > span img{
	display: inline-block;
}

.account > span img:nth-child(1){
	margin-right: 5px;
}

.account > span{
	font-size: .8em;
	color: #FFF;
	position: relative;
}

.account .icon-float{
	position: absolute;
	top: -60%;
	right: -80%;
	font-size: .8em;
	background: #ee2631;
	color: #fff;
	padding: 5px 6px;
	border-radius: 50%;
}

.account > span:nth-child(1){
	margin-right: 15px;
}

.account > span:nth-child(1) > a > img{
	margin-right: 5px;
}

.account > span a{
	color: #FFF;
}

.account > span img, .account > span span{
	vertical-align: middle;
}

.header-details .whatsapp{
	width: 100%;
}

.whatsapp img{
	display: inline-block;
	margin-right: 5px;
}

.whatsapp > span{
	width: 100%;
	display: block;
	text-align: right;
	margin: 15px 0;
	font-size: 1em;
}

.whatsapp > span img, .whatsapp > span a{
	vertical-align: middle;
}

.whatsapp > span img{
	width: 20px;
}

.whatsapp > span a{
	color: #FFF;
}

.whatsapp > span a span{
	color: #4c4c4c;
	margin-right: 5px;
}



@media(max-width: 640px){
	.header-container .logo{
		margin: 0 auto;
		display: block;
		text-align: center;
	}

	.header-container .logo img{
		max-width: 220px;
	}

	.header-details{
		width: 100%;
		text-align: center;
		margin-top: 20px;
	}

	.header-details div{
		width: 100%;
		text-align: center;
		margin-bottom: 5px;
	}

	.header-details div span{
		margin: 0 auto;
		text-align: center;
	}

	.account{
		width: 100%;
	}

	.header-details .account{
		text-align: center;
	}


}
.header-menu{
	width: 100%;
	background: #191919;
	text-align: center;
}

.slider-container{
	max-width: 1024px;
	width: 100%;
	margin: 0 auto;
}

.header-menu ul{
	width: 100%;
}

.header-menu ul li, .header-menu ul li img{
	width: 100%
}


body > section.header-menu > div > div.bx-wrapper{
	box-shadow: none !important;
	border: none !important;
	background: none !important;
	margin: 0 !important;
}

body > section.header-menu > div > div > div.bx-controls.bx-has-controls-direction.bx-has-pager > div.bx-pager.bx-default-pager,
body > section.header-menu > div > div > div.bx-controls.bx-has-controls-direction.bx-has-pager > div.bx-controls-direction{
	display: none;
}

.best-option{
	max-width: 1024px;
	width: 80%;
	margin: 16px auto;
	font-size: 0px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	align-content: center;
	align-items: center;
}

.best-option div{
	display: inline-block;
	font-size: 16px;
}

.best-option div.image-option{
	width: 50%;
	padding: 5px 10px 0px 0px;
	margin-right: 10px;
	margin-left: 10%;
	border-right: 1px solid #eaeaea;
}

.best-option div.image-option img{
	width: 100%;
}

.best-option  div.detail-options{
	width: 35%;
	vertical-align: center;
}

.detail-options .titleDetails{
	font-size: 1.5em;
	text-transform: uppercase;
	font-family: 'Lato-Bold';
	width: 85%;
	margin: 0 auto;
	display: block;
}

.titleDetails strong{
	font-family: 'Lato-Black';
	color: #ee2631;
}

.detail-options ul, .detail-options ul li{
	width: 100%;
}

.detail-options ul li{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: flex-start;
	align-content: center;
	align-items: center;
	margin: 1.25em 0;
}

.detail-options ul li span{
	display: inline-block;
	color: #1a1413;
	font-family: 'Lato-Light';
	font-size: 1em;
}

.detail-options span.icon{
	width: 3em;
	margin-right: 1em;
}

.detail-options span.icon img{
	width: 100%;
}

.newsletter{
	width: 100%;
	background: #ee2631;
	border-top: 3px solid #dedede;
	border-bottom: 3px solid #dedede;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	align-content: center;
	padding: 3em 0;
}

.msg-newsletter{
	font-family: 'Lato-Light';
	font-size: 1.2em;
	color: #FFF;
}

.msg-newsletter span{
	display: block;
	font-family: 'Lato-Black';
}

.newsletter form{
	margin: 0 2em;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.newsletter form label{
	border-radius: 10px;
	padding: 5px 10px;
	background: #FFF;
	width: 280px;
}

.newsletter form label input{
	outline: none;
	border: none;
	font-family: 'Lato-Light';
	color: #000;
	font-size: 1em;
}

.newsletter form button{
	background: #2e2e2e;
	border-radius: 10px;
	padding: 10px 10px;
	color: #FFF;
	border: none;
	font-size: .6em;
	margin: 0px 10px;
}

.way-to-pay{
	width: 100%;
	text-align: center;
}

.way-to-pay .descr-way{
	max-width: 1024px;
	width: 80%;
	margin: 1em auto;
}

.descr-way img{
	width: 100%;
}

@media(max-width: 1024px){

	.best-option{
		width: 90%;
	}

}

@media(max-width: 970px){

	.best-option div.image-option{
		width: 45%;
	}

	.best-option  div.detail-options{
		width: 40%;
	}

}

@media(max-width: 768px){

	.best-option{
		width: 60%;
	}

	.msg-newsletter{
		width: 100%;
		margin-bottom: 1em;
		text-align: center;
	}

	.best-option div.image-option{
		width: 100%;
		padding: 5px 0px 15px 0px;
		border-left: none;
		margin-bottom: 15px;
		border-bottom: 1px solid #eaeaea;
	}

	.best-option  div.detail-options{
		width: 100%;
		margin: 0;
		text-align: center;
	}

	.detail-options ul{
		width: 100%;
		margin: 0 auto;
	}

	.detail-options ul li{
		justify-content: center;
	}

	.detail-options ul li span:nth-child(2){
		width: 100%;
		display: inline-block;
		margin-top: 1em;
	}

	.newsletter form label{
		width: 260px;
		margin-bottom: 10px;
	}

	.newsletter form button{
		margin-bottom: 10px;
	}

}

@media(max-width: 640px){

	.detail-options .titleDetails{
		width: 100%;
	}

	.best-option{
		width: 80%;
	}

	.detail-options ul{
		width: 90%;
		margin: 0 auto;
		text-align: center;
	}



}
#loginContainer{
	max-width: 1024px;
	width: 80%;
	margin: 3em auto 6em auto;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	align-content: center;
	align-items: flex-start;
}

#loginContainer .container-register{
	width: 40%;
}


.pay-section{
	width: 100% !important;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	align-content: center;
	align-items: flex-start;
}

.container-register .login-section{
	width: 100%;
}

.pay-section .login-section{
	width: 45% !important;
}

.login-section .title{
	width: 100%;
	display: block;
	font-family: 'Lato-Black';
	font-size: .9em;
	color: #FFF;
	background: #ee2631;
	padding: .25em .5em;
	border-radius: .25em;
	box-sizing: border-box;
}

.login-section .desc-container{
	width: 90%;
	margin: 2em auto;
	font-family: 'Lato-Light';
	font-size: .9em;
}

.login-section .desc-sub{
	font-family: 'Lato-Black';
	display: block;
	margin-bottom: .5em;
}

.login-section p{
	margin: 0;
}

.container-button{
	display: block;
	margin-top: 2em;
	height: .5em;
}

.container-button .button-login{
	float: right;
	font-size: .8em;
	color: #FFF;
	background: #0088cc;
	border-radius: .5em;
	padding: .25em 1em;
	min-width: 7em;
	text-align: center;
	text-transform: uppercase;
}

.button-login-facebook{
	width: 8em;
	display: block;
}

.button-login-facebook img{
	width: 100%;
	display: block;
}

.footer-txt-login{
	font-size: .9em;
	margin-top: 1.5em !important;
	display: block;
}

.login-form{
	margin: 2em 0;
}

.login-form label{
	width: 100%;
	display: block;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.login-form label span{
	width: 40%;
}

.login-form label input, .login-form label select{
	width: 58%;
	border: 2px solid #000;
	padding: .25em .5em;
	font-family: 'Lato-Light';
	font-size: .9em;
	outline: none;
	margin: .5em 0;
	box-sizing: border-box;
}

.pay-section label{
	margin-bottom: .5em !important;
}

.pay-section label span, .pay-section label input, .pay-section label select{
	display: block;
	width: 100% !important;
}

.margin-desc-container{
	margin: 3.13em auto !important;
}

.login-user-title{
	width: 100%;
	text-align: center;
	font-family: 'Lato-Bold';
	font-size: 1.5em;
	margin-bottom: 2em;
	text-transform: uppercase;
}

.title-register{
	text-align: left;
	font-family: 'Lato-Bold';
	width: 88%;
	margin: 0 auto;
}

.register-box{
	width: 60% !important;
	margin: 0 auto !important;
}

.form-type-2{
	width: 100%;
}

.form-type-2 input{
	width: 15% !important;
}

.form-type-2 span{
	width: 80% !important;
}

.btn-register{
	text-align: center;
}

.btn-register button{
	float: none !important;
	display: inline-block;
	margin: 2em auto 0 auto;
}

.btn-register span{
	float: none !important;
	display: inline-block;
	margin: 2em auto 0 auto;
}

.option-choice{
	width: 100%;
	font-size: 1em;
}



.option-choice > label{
	width: 100%;
	display: block;
	margin-bottom: 1em !important;
}

.option-choice  .choice-element{
	display: inline-block;
	width: 8% !important;
}

.option-choice .desc-choice-elem{
	display: inline-block;
	width: 90% !important;
}

.option-choice .element-view{
	width: 30%;
	margin-left: 10%;
	margin-top: 1em;
}

.option-choice .element-view img{
	width: 100%;
}

.option-choice .login-form{
	font-size: 1.1em !important;
}

.option-choice-paypal{
	width: 100%;
	font-size: 1em;
}

.form-paypal{
	width: 20%;
}

.option-choice-paypal > label{
	width: 100%;
	display: block;
	margin-bottom: 1em !important;
}

.option-choice-paypal  .choice-element{
	display: inline-block;
	width: 8% !important;
}

.option-choice-paypal .desc-choice-elem{
	display: inline-block;
	width: 90% !important;
}

.option-choice-paypal .element-view{
	width: 30%;
	margin-left: 10%;
	margin-top: 1em;
}

.option-choice-paypal .element-view img{
	width: 100%;
}

.option-choice-paypal .login-form{
	font-size: 1.1em !important;
}


.form-type-1 select.month{
	width: 40% !important;
	display: inline-block;
}

.form-type-1 select.year{
	width: 30% !important;
	display: inline-block;
}

.form-type-1 input.code{
	width: 30% !important;
	display: inline-block;
}

.flex-start-opc{
	justify-content: flex-start !important;
}

.flex-start-opc select{
	margin-right: 1em !important;
}

.spacin-checkbox div:nth-child(1){
	width: 8% !important;
}

.spacin-checkbox div:nth-child(2){
	width: 90% !important;
}

.button-paypal{
	width: 50%;
}

.button-paypal img{
	width: 100%;
}

@media(max-width: 920px){

	#loginContainer .container-register{
		width: 60%;
		margin: 0 auto;
	}

	.conect-login{
		margin-bottom: 2em !important;
	}

	.container-button{
		display: block;
		margin-top: 2em;
		height: 4em;
	}

	.register-box, .pay-section .login-section{
		width: 75% !important;
		margin: 0 auto !important;
	}

}

@media(max-width: 720px){

	#loginContainer .container-register{
		width: 80%;
		margin: 0 auto;
	}

	.login-form label span{
		width: 100%;
	}

	.login-form label input{
		width: 100%;
	}

	.register-box, .pay-section .login-section{
		width: 80% !important;
		margin: 0 auto !important;
	}


}

@media(max-width: 480px){

	#loginContainer .container-register{
		width: 90%;
		margin: 0 auto;
	}

	.register-box, .pay-section .login-section{
		width: 90% !important;
		margin: 0 auto !important;
	}

}
@font-face {
  font-family: 'Antonio-Bold';
  src: url('../fonts/Antonio-Bold/Antonio-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/Antonio-Bold/Antonio-Bold.woff') format('woff'), url('../fonts/Antonio-Bold/Antonio-Bold.ttf')  format('truetype'), url('../fonts/Antonio-Bold/Antonio-Bold.svg#Antonio-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BebasNeueBook';
  src: url('../fonts/BebasNeueBook/BebasNeueBook.eot?#iefix') format('embedded-opentype'),  url('../fonts/BebasNeueBook/BebasNeueBook.otf')  format('opentype'),
	     url('../fonts/BebasNeueBook/BebasNeueBook.woff') format('woff'), url('../fonts/BebasNeueBook/BebasNeueBook.ttf')  format('truetype'), url('../fonts/BebasNeueBook/BebasNeueBook.svg#BebasNeueBook') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato-Light';
  src: url('../fonts/Lato-Light/Lato-Light.eot?#iefix') format('embedded-opentype'),  url('../fonts/Lato-Light/Lato-Light.woff') format('woff'), url('../fonts/Lato-Light/Lato-Light.ttf')  format('truetype'), url('../fonts/Lato-Light/Lato-Light.svg#Lato-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Lato-Bold';
  src: url('../fonts/Lato-Bold/Lato-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/Lato-Bold/Lato-Bold.woff') format('woff'), url('../fonts/Lato-Bold/Lato-Bold.ttf')  format('truetype'), url('../fonts/Lato-Bold/Lato-Bold.svg#Lato-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato-Black';
  src: url('../fonts/Lato-Black/Lato-Black.eot?#iefix') format('embedded-opentype'),  url('../fonts/Lato-Black/Lato-Black.woff') format('woff'), url('../fonts/Lato-Black/Lato-Black.ttf')  format('truetype'), url('../fonts/Lato-Black/Lato-Black.svg#Lato-Black') format('svg');
  font-weight: normal;
  font-style: normal;
}

body{
	font-size: 16px;
}

button{
  cursor: pointer;
}

img{
	display: block;
}

ul, li{
	padding: 0;
	margin: 0;
	display: inline-block;
	text-decoration: none;
}

.antBold{
	font-family: 'Antonio-Bold';
}

.bNeue{
	font-family: 'BebasNeueBook';
}

.uHover{
	transition: .5s;
	transform: scale(1);
}

.uHover:hover{
	transform: scale(.9);
  cursor: pointer;
}


a{
	text-decoration: none;
}


.way-to-pay{
  width: 100%;
}

.descr-way{
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.descr-way .textInfo{
  width: 35%;
  display: block;
}

.descr-way .imageWayto{
  width: 65%;
  display: block;
}

.descr-way .imageWayto img{
  width: 100%;
}

.descr-way .titleInfo{
  width: 100%;
  display: block;
  font-family: 'Lato-Black';
  font-size: 1.3em;
  text-transform: uppercase;
}

.descr-way .titleDesc{
  font-size: .8em;
  color: #0088cc;
  text-align: center;
  font-family: 'Lato-Black';
}

#textDescriptionContent{
  width: 90%;
  max-width: 1280px;
  margin: 4em auto;
  font-family: 'Lato-Light';
  font-size: 1em;
}

#textDescriptionContent strong{
  text-transform: uppercase;
  font-family: 'Lato-Black';
  font-size: 1.2em;
}

#textDescriptionContent ul, #textDescriptionContent ul li{
  display: block;
  width: 100% !important;
}

@media(max-width: 1024px){

  .descr-way .textInfo{
    width: 100%;
    display: block;
    margin: 10px 0;
  }

  .descr-way .imageWayto{
    width: 80%;
    display: block;
  }

}

@media(max-width: 920px){

  .descr-way .imageWayto{
    width: 100%;
    display: block;
  }

}
nav{
	width: 100%;
	background: #ee2631;
	color: #FFF;
}

.search-general{
	width: 100%;
	background: #e8e8e8;
	color: #b1b1b1;
}

.container-nav{
	max-width: 1024px;
	width: 80%;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	padding: 10px 0px 5px 0px;
	font-size: 1em;
	color: #000;
}

.container-search{
	max-width: 1024px;
	width: 80%;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	padding: 10px 0px 10px 0px;
	font-size: 1em;
}

.container-nav .menu{
	font-size: 1.5em;
	text-transform: uppercase;
	font-family: 'BebasNeueBook';
}

.container-nav .menu a{
	color: #FFF;
}

.container-nav .menu li{
	margin: 0px 1.6em 0px 0px;
}

.container-nav .search{
	width: 320px;
	position: relative;
}

.container-nav .search form{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	align-content: center;
	align-items: center;
}

.search form label{
	width: 70%;
	background: #FFF;
	border-radius: 1em;
}

.search form label input{
	border: none;
	background: none;
	width: 90%;
	display: inline-block;
	margin-left: 5%;
	outline: none;
	padding: 5px 0px;
	font-family: 'BebasNeueBook';
	font-size: 1em;
}

.search form span{
	width: 25px;
	display: inline-block;
	margin-left: 20px;
}

.search form span img{
	width: 100%;
}

.container-nav .social{
}

.container-search form{
	width: 100%;
	text-align: left;
}

.container-search form label{
	width: 170px;
	display: inline-block;
	background: #FFF;
	border-radius: 1em;
	margin: 0px 5px 0px 0px;
}

.container-search form label select{
	width: 100%;
	border: none;
	outline: none;
	padding: 5px 10px;
	background: none;
	border-radius: 1em;
	font-family: 'BebasNeueBook';
	font-size: 1em;
	color: #949494;
}

.container-search form button{
	background: #ee2631;
	border-radius: 1em;
	padding: 7.5px 20px;
	border: none;
	color: #FFF;
	cursor: pointer;
	font-family: 'BebasNeueBook';
}

.search:hover .results_search{
	display: block;
}

.results_search{
	display: none;
	position: absolute;
	top: 105%;
	left: 10%;
	width: 80%;
	z-index: 2;
	background: #FFF;
}

.results_search-item{
	width: 100%;
	display: block;
	margin: .25em 0em;
	background: #f4f4f4;
}


.results_search-item a{
	display: block;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.item_search-image{
	width: 20%;
}

.item_search-image img{
	width: 100%;
	display: block;
}

.item_search-description{
	width: 80%;
	padding: .5em 1em;
	box-sizing: border-box;
	font-size: .8em;
	font-family: 'Lato-Light';
}

@media(max-width: 1020px){

	.container-search form label{
		width: 100px !important;
	}

	.container-nav{
		font-size: .9em;
	}

	.container-nav .search{
		width: 260px;
	}

	.container-nav .menu li{
		margin: 0px 1.25em 0px 0px;
	}

}

@media(max-width: 920px){

	.container-nav .menu{
		width: 100%;
		margin-bottom: .5em;
		text-align: center;
	}

	.container-nav{
		justify-content: center;
	}

	.container-search form label{
		width: 120px;
	}

}

@media(max-width: 680px){

	.container-search form label{
		width: 280px !important;
		margin: 5px auto !important;
	}

	.container-search form button{
		width: 280px !important;
	}

}


@media(max-width: 640px){

	.container-search form label{
		width: 80% !important;
		margin: 5px auto !important;
	}

	.container-search form button{
		width: 80% !important;
	}

	.container-nav .menu, .container-nav .social{
		display: none;
	}

	.container-nav{
		padding: 10px 0px 10px 0px;
	}

	.container-search form label{
		width: 50%;
		margin: 5px 20%;
	}

	.container-nav .search{
		width: 100%;
	}

	.container-search form{
		width: 100%;
		text-align: center;
	}


}

@media(max-width: 480px){
	.container-search form label{
		width: 100%;
		margin: 5px 0%;
	}
}
/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */

html {
  line-height: 1.15; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers (opinionated).
 */

body {
  margin: 0;
}

/**
 * Add the correct display in IE 9-.
 */

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */

figcaption,
figure,
main { /* 1 */
  display: block;
}

/**
 * Add the correct margin in IE 8.
 */

figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */

a {
  background-color: transparent; /* 1 */
  -webkit-text-decoration-skip: objects; /* 2 */
}

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */

b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */

dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */

mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 */

audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */

img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */

svg:not(:root) {
  overflow: hidden;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */

button,
html [type="button"], /* 1 */
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */

details, /* 1 */
menu {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Scripting
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 */

canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */

template {
  display: none;
}

/* Hidden
   ========================================================================== */

/**
 * Add the correct display in IE 10-.
 */

[hidden] {
  display: none;
}
.product-promo{
	width: 100%;
	background: #f4f4f4;
	padding: 0px 0px 10px 0px
}

.list-products{
	margin: 0 auto;
	max-width: 1024px;
	width: 100%;
	position: relative;
}

.list-products ul{
	width: 100%;
}

.list-products ul li{
	/*width: 100%;*/
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: flex-start;
	align-content: center;
	align-items: center;
	vertical-align: middle;
}

.product{
	width: 160px;
	margin: 5px 2px;
	background: #FFF;
	overflow: hidden;
	border-radius: 10px;
	border: 1px solid #e9e9e9;
}

.product .image{
	width: 90%;
	margin: 1em auto;
}

.product .image img{
	width: 100%;
}

.product .titleProduct, .product .descProduct, .product .priceProduct, .product .viewMoreProduct{
	width: 80%;
	margin: 0 auto;
}

.titleProduct span{
	display: block;
	padding: 5px 0px;
	text-align: center;
	border-top: 1px solid #eaeaea;
	border-bottom: 1px solid #eaeaea;
	font-size: 1em;
	color: #2c2c2c;
	font-family: 'Lato-Bold';
}

.product .descProduct{
	margin: 10px auto;
	font-family: 'Lato-Light';
	font-size: .9em;
}

.descProduct .code{
	font-size: .8em;
	font-family: 'Lato-Black';
}

.descProduct .notesProduct{
	font-size: 1em;
}

.notesProduct span.note{
	color: #d90000;
}

.priceProduct{
	text-align: center;
	color: #ababab;
	border-top: 1px solid #eaeaea;
	border-bottom: 1px solid #eaeaea;
	font-size: 1.1em;
	font-family: 'Lato-Light';
	padding: 5px 0px;
}

.viewMoreProduct{
	padding: 5px 0px;
	text-align: center;
	font-family: 'Lato-Bold';
}

.viewMoreProduct a{
	color: #d90000;
}

.viewMoreProduct button{
	color: #d90000;
	background: none;
	border: 0px;
	font: 16px;
}

body > section.product-promo > div.list-products > div > div.bx-viewport{
	height: auto !important;
}

body > section.product-promo > div.list-products > div.bx-wrapper{
	box-shadow: none;
	border: none;
	background: none;
	margin: 0;
	padding: 0;
}

body > section.product-promo > div.list-products > div > div.bx-controls.bx-has-controls-direction.bx-has-pager > div.bx-pager.bx-default-pager{

}

.nav-slide-product{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	align-content: center;
	align-items: center;
	margin: 0 auto;
	padding: 20px 0 15px 0;
}

.el-title-products{
	color: #000000;
	font-family: 'Lato-Bold';
}

.el-title-products span{
	color: #ee343e;
}

body > section.product-promo > div > div.bx-wrapper > div.bx-controls.bx-has-controls-direction.bx-has-pager > div.bx-controls-direction{
	position: absolute;
	top: -5%;
	right: 20%;
	width: 100px;
	background: red;
}

body > section.product-promo > div > div.bx-wrapper > div.bx-controls.bx-has-controls-direction.bx-has-pager > div.bx-pager.bx-default-pager{
	position: absolute;
	top: -7.5%;
	right: 12%;
	width: auto;
	padding: 0;
	margin: 0;
}








@media(max-width: 1024px){

	.nav-slide-product{
		width: 74%;
	}
	.list-products{
		margin: 0 auto;
		max-width: 720px;
		width: 100%;
	}

	.product{
		width: 165px;
		margin: 5px 10px;
	}

	.list-products ul li{
		width: 100%;
		justify-content: center;
	}


	body > section.product-promo > div > div.bx-wrapper > div.bx-controls.bx-has-controls-direction.bx-has-pager > div.bx-controls-direction{
		position: absolute;
		top: -3%;
		right: 12%;
	}

	body > section.product-promo > div > div.bx-wrapper > div.bx-controls.bx-has-controls-direction.bx-has-pager > div.bx-pager.bx-default-pager{
		display: none;
	}


}

@media(max-width: 720px){

	.el-title-products{
		width: 100%;
		margin-bottom: 50px;
		margin-top: 10px;
		text-align: center;
	}

	body > section.product-promo > div > div.bx-wrapper > div.bx-controls.bx-has-controls-direction.bx-has-pager > div.bx-controls-direction{
		position: absolute;
		top: -3.5%;
		left: 40%;
		width: 20%;
	}

}

@media(max-width: 480px){

	.product{
		width: 145px;
		margin: 5px 2px;
	}

	body > section.product-promo > div > div.bx-wrapper > div.bx-controls.bx-has-controls-direction.bx-has-pager > div.bx-controls-direction{
		position: absolute;
		top: -2.5%;
		left: 35%;
		width: 30%;
	}

}
.headerListProducts{
	width: 100%;
}

.imgHeaderList{
	max-width: 100%;
	overflow: hidden;
}

.imgHeaderList img{
	width: 100%;
}

.container-products{
	width: 100%;
	background: #f4f4f4;
	padding: 10px 0;
}

.group-products{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: flex-start;
	align-content: center;
	align-items: center;
}

.productFilter{
	padding: 1em 0;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-around;
	align-content: center;
	align-items: center;
}

.productFilter form label, .productFilter form select{
	width: 220px;
	background: #FFF;
	border-radius: 1em;
	border: none;
	display: inline-block;
	padding: 5px 10px;
	font-size: 1em;
	font-family: 'Lato-Light';
	outline: none;
}

.productFilter form{
	margin: 0px 3em;
}

.productFilter form label input{
	width: 100%;
	border: none;
	outline: none;
	font-size: 1em;
	font-family: 'Lato-Light';
}

.productFilter form button{
	background: #ee2631;
	color: #FFF;
	border-radius: 1em;
	border: none;
	display: inline-block;
	padding: 5px 20px;
	font-size: .9em;
	font-family: 'Lato-Light';
	outline: none;
}

.productFilter form span{
	display: inline-block;
	font-size: 1em;
	font-family: 'Lato-Light';
	color: #535353;
	margin-right: 1em;
}

.loadMore{
	width: 100%;
	margin: 1em 0;
	text-align: center;
	font-family: 'Lato-Light';
	color: #b3b3b3;
}

.loadMore span{
	display: inline-block;
	background: #FFF;
	border-radius: 1em;
	padding: 5px 15px;
}

.need-help{
	background: #16276f;
	color: #FFF;
	font-family: 'Lato-Bold';
	padding: 2em 0;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	font-size: 1.2em;
}

.need-help span{
	display: inline-block;
	margin: 0em 1em;
}


@media(max-width: 1024px){

	.productFilter form{
		margin: 1em;
		text-align: center;
	}

	.productFilter label, .productFilter button, .productFilter select{
		margin: .5em 0;
	}

	.group-products{
		justify-content: center;
	}

	.imgHeaderList img{
		width: 200%;
		margin-left: -50%;
	}

}

@media(max-width: 640px){

	.imgHeaderList img{
		width: 300%;
		margin-left: -100%;
	}

}
.container-user{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	align-content: center;
	align-items: flex-start;
	vertical-align: top;
}

.container-user .menu-bar{
	width: 20%;
	font-family: 'Lato-Light';
	color: #a1a1a1;
}

.menu-bar div.option{
	width: 100%;
	padding: .25em .25em;
	margin-bottom: .5em;
	font-size: .9em;
	box-sizing: border-box;
	text-transform: uppercase;
}

.menu-bar div.option.selected{
	font-family: 'Lato-Black' !important ;
	color: #fff !important;
	background: #ee2631;
	border-radius: .25em;
}

.container-user .info-menu-container{
	width: 78%;
}

.info-menu-container .option-selected{
	width: 100%;
}

.option-selected .title{
	width: 100%;
	font-family: 'Lato-Black' !important ;
	font-size: 1.2em;
	margin-bottom: 1em;
	text-transform: uppercase;
}

.welcome-msg{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	align-content: center;
	background: #e9e9e9;
	color: #929292;
	font-family: 'Lato-Light' !important ;
	text-transform: uppercase;
	margin-bottom: 1em;
}

.welcome-msg span{
	width: 10px;
	height: 25px;
	background: #ee2631;
	display: block;
	margin-right: 15px;
}

.info-details{
}

.info-details .subtitle{
	display: block;
	margin-top: 1em;
	margin-bottom: .5em;
	font-size: 1.5em;
	font-family: 'Lato-Black' ;
	color: #000;
}

.info-details .description{
	display: block;
	color: #929292;
	font-family: 'Lato-Light';
	margin-bottom: 2em;
}

.menu-details-info{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: flex-start;
	align-content: center;
	align-items: flex-start;
}

.container-menu-info{
	width: 50%;
	margin-bottom: 2em;
}

.container-menu-info .title-menu-info{
	display: block;
	text-transform: uppercase;
	color: #4e4e4e;
	font-family: 'Lato-Black';
	margin-bottom: 1em;
}

.container-menu-info .form-user{
	width: 100%;
}

.form-user input{
	font-family: 'Lato-Light';
	font-size: .9em;
	color: #000;
	outline: none;
	border: none;
	padding: .25em .5em;
	box-sizing: border-box;
	width: 60%;
}

.form-user .password-change input{
	border: 2px solid #000;
}

.password-change{
	margin: 1em 0;
}

.form-user span{
	display: block;
	font-size: .9em;
	color: #000;
	font-family: 'Lato-Light';
	margin: .8em 0 .25em 0;
}

.form-user label{
	display: block;
}

.action-element{
	color: #ee2631;
	font-family: 'Lato-Light';
	text-decoration: underline;
	font-size: .9em;
	display: inline-block;
}

.decoration{
	text-decoration: none;
	color:#a1a1a1;
}

.bordersInInputs{
	border: 2px solid black;
}

.truncate {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

figure.zoom {
  background-position: 50% 50%;
  position: relative;
  width: 500px;
  overflow: hidden;
  cursor: zoom-in;
}
figure.zoom img:hover {
  opacity: 0;
}
figure.zoom img {
  transition: opacity .5s;
  display: block;
  width: 100%;
}




#amount {
  font-size: 12px;
}

#amount strong {
  font-size: 14px;
}

#card-back {
  top: 40px;
  right: 0;
  z-index: -2;
}

#card-btn {
  background-color: rgba(251, 251, 251, 0.8);
  color: #ffb242;
  position: absolute;
  bottom: -55px;
  right: 0;
  width: 150px;
  border-radius: 8px;
  height: 42px;
  font-size: 12px;
  font-family: lato, 'helvetica-light', 'sans-serif';
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  outline: none;
  border: none;
  cursor: pointer;
}

#card-btn:hover {
  background-color: rgba(251, 251, 251, 1);
}

#card-cvc {
  width: 60px;
  margin-bottom: 0;
}

#card-front,
#card-back {
  position: absolute;
  background-color: #498ee4;
  width: 390px;
  height: 250px;
  border-radius: 6px;
  padding: 20px 30px 0;
  box-sizing: border-box;
  font-size: 10px;
  letter-spacing: 1px;
  font-weight: 300;
  color: white;
}

#card-image {
  float: right;
  height: 100%;
}

#card-image i {
  font-size: 40px;
}

#card-month {
  width: 45% !important;
}

#card-number,
#card-holder {
  width: 100%;
}

#card-stripe {
  width: 100%;
  height: 55px;
  background-color: #3d5266;
  position: absolute;
  right: 0;
}

#card-success {
  color: #00b349;
}

#card-token {
  display: none;
}

#card-year {
  width: 45%;
  float: right;
}

#cardholder-container {
  width: 60%;
  display: inline-block;
}

#cvc-container {
  position: absolute;
  width: 110px;
  right: -115px;
  bottom: -10px;
  padding-left: 20px;
  box-sizing: border-box;
}

#cvc-container label {
  width: 100%;
}

#cvc-container p {
  font-size: 6px;
  text-transform: uppercase;
  opacity: 0.6;
  letter-spacing: .5px;
}

#form-container {
  margin: auto;
  width: 500px;
  height: 290px;
  position: relative;
}

#form-errors {
  color: #eb0000;
}

#form-errors,
#card-success {
  background-color: white;
  width: 500px;
  margin: 0 auto 10px;
  height: 50px;
  border-radius: 8px;
  padding: 0 20px;
  font-weight: 400;
  box-sizing: border-box;
  line-height: 46px;
  letter-spacing: .5px;
  text-transform: none;
}

#form-errors p,
#card-success p {
  margin: 0 5px;
  display: inline-block;
}

#exp-container {
  margin-left: 10px;
  width: 32%;
  display: inline-block;
  float: right;
}

.hidden {
  display: none;
}

#image-container {
  width: 100%;
  position: relative;
  height: 55px;
  margin-bottom: 5px;
  line-height: 55px;
}

#image-container img {
  position: absolute;
  right: 0;
  top: 0;
}

.paymentcards input {
  border: none;
  outline: none;
  background-color: #5a9def;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  margin: 0 0 25px;
  color: white;
  font-size: 10px;
  box-sizing: border-box;
  border-radius: 4px;
  font-family: lato, 'helvetica-light', 'sans-serif';
  letter-spacing: .7px;
}

.paymentcards input::-webkit-input-placeholder {
  color: #fff;
  opacity: 0.7;
  font-family: lato, 'helvetica-light', 'sans-serif' letter-spacing: 1px;
  font-weight: 300;
  letter-spacing: 1px;
  font-size: 10px;
}

.paymentcards input:-moz-placeholder {
  color: #fff;
  opacity: 0.7;
  font-family: lato, 'helvetica-light', 'sans-serif' letter-spacing: 1px;
  font-weight: 300;
  letter-spacing: 1px;
  font-size: 10px;
}

.paymentcards input::-moz-placeholder {
  color: #fff;
  opacity: 0.7;
  font-family: lato, 'helvetica-light', 'sans-serif' letter-spacing: 1px;
  font-weight: 300;
  letter-spacing: 1px;
  font-size: 10px;
}

.paymentcards input:-ms-input-placeholder {
  color: #fff;
  opacity: 0.7;
  font-family: lato, 'helvetica-light', 'sans-serif' letter-spacing: 1px;
  font-weight: 300;
  letter-spacing: 1px;
  font-size: 10px;
}

.paymentcards input.invalid {
  border: solid 2px #eb0000;
  height: 34px;
}

.paymentcards label {
  display: block;
  margin: 0 auto 7px;
}

/*PAYCHECK CSS*/

.submit-button {
  margin-top: 10px;
}

/*END PAYCHECK CSS*/


#shadow {
  position: absolute;
  right: 0;
  width: 284px;
  height: 214px;
  top: 36px;
  background-color: #000;
  z-index: -1;
  border-radius: 8px;
  box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.1);
}

@media(max-width: 1320px){

	.container-user .menu-bar{
		width: 30%;
	}

	.container-user .info-menu-container{
		width: 68%;
	}

}

@media(max-width: 920px){

	.container-user .menu-bar{
		width: 100%;
	}


	.container-user .info-menu-container{
		width: 100%;
		margin: 2em 0;
	}

}

@media(max-width: 572px){
	.welcome-msg span{
		width: 100%;
		padding: 0;
		margin: 0;
	}
}



