
@font-face {
  font-family: 'Antonio-Bold';
  src: url('Antonio-Bold.eot?#iefix') format('embedded-opentype'),  url('Antonio-Bold.woff') format('woff'), url('Antonio-Bold.ttf')  format('truetype'), url('Antonio-Bold.svg#Antonio-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
