<template>
            <main class="main">
            <!-- Breadcrumb -->
            <ol class="breadcrumb">
 <a class="nav-link active"  href="#"><i class="icon-screen-desktop "></i> Escritorio</a>
            </ol>
            <div class="container-fluid">
                <!-- Ejemplo de tabla Listado -->
                <div class="card card-accent-danger mb-3">
                    <div class="card-header">
                        <i class="fa fa-align-justify"></i> Ayuda
                    </div>
                    <div class="card-body">

                    </div>
                </div>
                <!-- Fin ejemplo de tabla Listado -->
            </div>
        </main>
</template>
